@import "../../style/variables.scss";

.banner {
  width: 100%;
  background-color: $dark;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  &__text {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
  }
  @media only screen and (max-width: $large-screen) {
  }
  @media only screen and (max-width: $medium-screen) {
    display: none;
  }
}
